# keeping out util lib /target files
*/target/*

# to not include input file (demo files are fine)
# it is an ask from the aoc creator
input.txt

# cargo.lock files are useless for this purpose
# although 2023's .lock files are probably going to stay.
Cargo.lock

*/*/target/*
# not including .exe-s (bin files) anymore because of linux
# and because i never used them anyway

# switched to c++ workflow, and now binary files look like these
main
main.exe
