# keeping out util lib /target files
*/target/*

# to not include input file (demo files are fine)
input.txt

# cargo.lock files are useless for this purpose
# although 2023's .lock files are probably going to stay.
Cargo.lock

*/*/target/*
# not including .exe-s anymore because of linux
# and because i never used them anyway
